/* Room_menu.module.css */

@media (max-width: 766px) {
  .menuContainer {
    .div {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
    }
  }

  /* ต่อมาคุณจะต้องปรับ CSS อื่นๆ ในโค้ดของคุณเพื่อให้เหมาะสมกับหน้าจอขนาดเล็ก */
}
